/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/


/***
 *
 * basic Elements 
 *
 * */

.simple-immich-spacer {
	border-color: var(--text-faint);
	place-self: center;
	width: 95%;
	margin: 0;
	padding: 0;
}

.simple-immich-seperater {

	border: 0;
	border-color: var(--text-faint);
	border-inline: var(--border-width);
	border-style: solid;
	place-self: center;
	margin: 0;
	padding: 0;
	min-height: -webkit-fill-available;
}


.simple-immich-authentication-feilds {

	max-width: 600px;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-self: center;
}


.simple-immich-auth-view {

	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 3rem;

	gap: 2rem;
}

.simple-immich-authentication-options {

	display: flex;
	place-self: center;
	gap: 4rem;

}

.simple-button {
	min-width: 4rem;
	padding: 1rem .5rem;
}

input.simple-immich-input {
	border: none;
	background-color: var(--background-secondary-alt);
	padding: var(--size-4-2) var(--size-4-2);
	border-size: var(--border-width);
	border-color: transparent;
	border-style: solid;
	border-radius: var(--radius-m);
	color: var(--text-normal);

	width: 80%;
}


input.simple-immich-input::placeholder {
	color: var(--text-muted);
}

/*
 * Settings Tap styling start
 *
 * */



.simple-immich-settings-tab {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--size-4-4);
}


.simple-immich-settings-tab :is(h1, h2, h3, h4, h5, h6) {
	padding: 0;
	margin: 0;
}

.simple-immich-settings-add-server-input {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.simple-immich-settings-servers,
.simple-immich-settings-add-server-section {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-4);
}

.simple-immich-settings-server-block {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */

	background-color: var(--background-secondary);

	gap: var(--size-4-4);

	padding-inline: var(--size-4-4);
	padding-block: var(--size-4-6);

	border-radius: var(--radius-m);
}

.simple-immich-server-header {

	/* background-color: var(--background-secondary-alt); */
	border-radius: var(--radius-m);
	gap: var(--size-4-4);
	/* padding-inline: var(--size-4-4); */
	padding-block: var(--size-4-2);
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 160px 1fr 120px;

}

.simple-Immich-settings-account-block {
	background-color: var(--background-secondary-alt);
	border-radius: var(--radius-m);
	gap: 0px;
	padding-inline: var(--size-4-4);
	padding-block: var(--size-2-1);
	display: flex;
	flex-direction: column;
}

.simple-Immich-settings-block {
	display: block;
}

.simple-immich-settings-account-info {

	border-radius: var(--radius-m);
	gap: var(--size-4-4);
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 160px 1fr 160px;
}

.simple-immich-iconButtons {
	display: flex;
	justify-content: end;
	background-color: var(--background-primary);
	width: fit-content;
	height: fit-content;
	justify-self: end;
	align-self: center;
	gap: var(--size-2-1);
	border-radius: var(--radius-m);
	padding-block: var(--size-4-2);
}

.simple-immich-icon {

	padding-block: var(--size-1-2);
	padding-inline: var(--size-4-2);
	cursor: pointer;
}

/*
 * Settings Tap styling end
 *
 * */
