.simple-immich .spacer {
	border-color: var(--text-faint);
	place-self: center;
	width: 95%;
	margin: 0;
	padding: 0;
}

.simple-immich .seperater {
	border: 0;
	border-color: var(--text-faint);
	border-inline: var(--border-width);
	border-style: solid;
	place-self: center;
	margin: 0;
	padding: 0;
	min-height: -webkit-fill-available;
}

.simple-immich .account-form .button {
	height: fit-content;
	width: 4.3rem;
	padding: calc(var(--size-4-3) + var(--size-2-1)) var(--size-4-5);
}

.simple-immich .secret-button {
	display: flex;
	align-items: center;
	gap: var(--size-4-3);
}

.simple-immich .secret-button>div>span {
	background-color: transparent;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.simple-immich .secret-button>div>span .setting-password {
	width: 100%;
	max-width: unset;
}

.simple-immich .secret-button>div:is(:not(.clickable-icon .mod-warning)),
.simple-immich input.input,
.simple-immich input.simple-immich-input {
	border: none;
	padding-inline: var(--size-4-2);
	padding-block: var(--size-4-3);
	border-style: solid;
	border-color: transparent;
	border-width: var(--border-width);
	border-radius: var(--radius-m);
	color: var(--text-normal);
	width: 100%;
	height: fit-content;
}

.simple-immich .secret-button>div:is(:not(.clickable-icon .mod-warning)) {
	height: 2.8rem;
	background-color: var(--container-bg);
}

.simple-immich .secret-button button {
	height: auto;
	margin: 0;
	display: grid;
	width: 5rem;
	align-self: stretch;
	/* height: -webkit-fill-available; */
}

input.input::placeholder,
input.simple-immich-input::placeholder {
	color: var(--text-muted);
}

.simple-immich .labeled-input {
	display: grid;

	align-items: center;
	grid-template-columns: 120px 1fr;
	grid-template-areas: "label input";
}

.simple-immich .labeled-input:is(.vertical) {
	grid-template-areas:
		"label label"
		"input input";
}

.simple-immich .labeled-input-label {
	margin: 0;
	padding: 0;
	display: grid;
	padding-inline: var(--size-4-2);
}

/*
 * Settings Tap styling start
 *
 * */

.simple-immich.settings,
.simple-immich {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--size-4-4);
}



.simple-immich :is(h1, h2, h3, h4, h5, h6, p) {
	padding: 0;
	margin: 0;
}


.simple-immich .container {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-2);

	padding-block: var(--size-4-2);
	padding-inline: var(--size-4-2);
	border-radius: var(--radius-m);
	gap: var(--size-4-4);
}

.simple-immich.settings .connections,
.simple-immich.settings .connection .account-form,
.simple-immich.settings .servers,
.simple-immich.settings .add-server,
.simple-immich.settings .server-accounts {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-4);
}

.simple-immich input.input.bg-primary,
input.input.bg-primary,
.bg-primary {
	background-color: var(--background-primary);
}

.simple-immich input.input.bg-primary-alt,
input.input.bg-primary-alt,
.bg-primary-alt {
	background-color: var(--background-primary-alt);
}

.simple-immich input.input.bg-secondary,
input.input.bg-secondary,
.bg-secondary {
	background-color: var(--background-secondary);
}

.simple-immich input.input.bg-secondary-alt,
input.input.bg-secondary-alt,
.bg-secondary-alt {
	background-color: var(--background-secondary-alt);
}


.simple-immich.settings .account-form .buttons {
	display: flex;
	justify-content: right;
	gap: var(--size-4-3);
}

.simple-immich.settings .connection-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--size-4-4);
}

.simple-immich.settings .connection-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */

	background-color: var(--background-secondary);

	gap: var(--size-4-4);
	padding-inline: var(--size-4-4);
	padding-block: var(--size-4-6);
	border-radius: var(--radius-m);
}

.simple-immich.settings .connection-header {
	border-radius: var(--radius-m);
	gap: var(--size-4-4);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.simple-immich.settings .connection-accounts {
	background-color: var(--background-secondary-alt);
}

.simple-Immich.settings .account-block {
	border-radius: var(--radius-m);
	gap: 0px;
	padding-inline: var(--size-4-4);
	padding-block: var(--size-2-1);
	display: flex;
	flex-direction: column;
}

.simple-Immich.settings .setting-block {
	display: block;
}

.simple-immich.settings .account-info {
	gap: var(--size-4-2);
	display: grid;
	justify-content: space-between;
	min-height: 2rem;
	align-items: center;
	grid-template-columns: 160px 1fr 130px;
	grid-template-areas: "label input buttons";
}

.simple-immich .iconButtons {
	display: flex;
	justify-content: end;
	width: fit-content;
	height: fit-content;
	justify-self: end;
	align-self: center;
	gap: var(--size-2-1);
	border-radius: var(--radius-m);
	padding-block: var(--size-4-2);
	padding-inline: var(--size-4-1);
}

.simple-immich .icon {
	padding-block: 0;
	padding-inline: var(--size-4-2);
	padding-block: var(--size-2-2);
	cursor: pointer;
	display: flex;
}

/*
 * Settings Tap styling end
 *
 * */
